*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  background-color: lightgray;
}

.header {
  padding: 3rem 1rem;
  padding-top: 4, 5rem;
  text-align: center;
  background-image: linear-gradient(45deg, yellow 5%, orange 70%);
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.profession {
  font-size: 2.75rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 2rem;
  font-size: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
  color: red;
  font-weight: bolder;
  background-color: lightgray;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
}

.nav-link:active {
  color: white;
}

.profession::after {
  content: "💻";
}

.hire-me {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  padding: 1rem;
  background-color: lightgray;
  color: orangered;
  text-decoration: double;
  border-radius: 1rem;
}

.main {
  padding: 2.2rem;
  padding-top: 5rem;
  padding-left: 3.5rem;
  margin: 0 auto;
  max-width: 100rem;
}

.main > * {
  border-top: 0.125rem solid grey;
}

.main > *:first-child {
  border-top: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1.5rem;
}

::selection {
  background-color: black;
  color: white;
}
